Repository cyb3rpsych0s1s/manufacturer: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json, yarn remark .

:memo: Add information about the project
  README.md
Due: yarn remark .

:recycle: Add index and export activities
  src/activities.ejs
  src/activities.ts
  src/index.ts
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:wrench: Add missing package properties, dependencies and scripts
  package.json
  yarn.lock
Due: none

:art: Sort results when generating activities
  src/activities.ts
  src/generate.ts
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:sparkles: Add manufacturers for future seeding
  package.json
  src/activities.ejs
  src/activity.ts
  src/generate/enum-activity.ejs
  src/generate/enum-activity.ts
  src/generate/fetch.ts
  src/generate/index.ts
  src/generate/seed-manufacturers.ejs
  src/generate/seed-manufacturers.ts
  src/index.ts
  src/manufacturer.ts
  src/manufacturers.ts
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:pencil: Update README
  README.md
Due: yarn remark .

:recycle: Generate enum and test file automatically
  src/activity.test.ts
  src/activity.ts
  src/generate/enum-activity.ejs
  src/generate/enum-activity.ts
  src/generate/enum.ejs
  src/generate/enum.test.ejs
  src/index.ts
  src/manufacturer.ts
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:recycle: Extensive test file
  src/activity.test.ts
  src/generate/enum-activity.ts
  src/generate/enum.test.ejs
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:loud_sound: Add logger for generate
  package.json
  src/activity.spec.ts
  src/generate/enum-activity.ts
  src/generate/fetch.ts
  src/generate/seed-manufacturers.ts
  src/logger.ts
  tsconfig.json
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:sparkles: Add seeding
  package.json
  src/generate/seed-manufacturers.ts
  src/seed.ts
  src/seeds/manufacturers.ts
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:sparkles: Add validation with Joi
  package.json
  src/activity.spec.ts
  src/activity.ts
  src/generate/enum.ejs
  src/generate/enum.test.ejs
  src/manufacturer.ts
  src/seeds/manufacturers.spec.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:sparkles: Basic UI components
  .storybook/config.js
  .storybook/main.js
  .storybook/manager.js
  package.json
  src/assets/css/global.css
  src/assets/fonts/sector_017.ttf
  src/assets/fonts/sector_034.ttf
  src/assets/fonts/weapons.ttf
  src/components/Background.vue
  src/components/Card.stories.js
  src/components/Card.vue
  src/components/List.stories.js
  src/components/List.vue
  src/generate/seed-manufacturers.ejs
  src/generate/seed-manufacturers.ts
  src/manufacturer.ts
  src/seeds/manufacturers.ts
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:lipstick: Add header vue
  src/assets/css/global.css
  src/components/Header.stories.js
  src/components/Header.vue
Due: none

:bento: Add missing font
  src/assets/css/global.css
Due: none

:lipstick: Change detail vue, experiment with responsive
  src/assets/css/global.css
  src/components/Card.vue
  src/components/Detail.stories.js
  src/components/Detail.vue
  src/components/Header.vue
Due: none

:lipstick: Small UI improvements
  src/assets/css/global.css
  src/components/Card.vue
  src/components/Header.vue
Due: none

:sparkles: Add typegoose and related tests
  package.json
  src/components/Detail.stories.js
  src/components/Detail.vue
  src/components/Header.vue
  src/index.ts
  src/manufacturer.spec.ts
  src/manufacturer.test.ts
  src/manufacturer.ts
  tsconfig.json
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:sparkles: Add environment helper
  package.json
  src/environment.ts
  src/index.ts
  src/manufacturer.test.ts
  src/manufacturer.ts
  src/seed.ts
  tslint.json
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:sparkles: Add server implementation with NestJS
  package.json
  src/bootstrap.ts
  src/environment.ts
  src/index.ts
  src/manufacturer.spec.ts
  src/manufacturer.test.ts
  src/manufacturer.ts
  src/manufacturer/helper.ts
  src/manufacturer/index.ts
  src/manufacturer/manufacturer.controller.ts
  src/manufacturer/manufacturer.module.test.ts
  src/manufacturer/manufacturer.module.ts
  src/manufacturer/manufacturer.service.ts
  src/manufacturer/model.spec.ts
  src/manufacturer/model.ts
  src/manufacturer/validator.ts
  src/seed.ts
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:white_check_mark: Make tests parallel by using multiple databases
  package.json
  src/manufacturer/manufacturer.module.test.ts
  src/manufacturer/model.test.ts
  src/seed.ts
  src/seeds/index.ts
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:sparkles: Add basic AWS implementation
  .nvmrc
  package.json
  serverless.yml
  src/aws.test.ts
  src/aws.ts
  src/manufacturer/manufacturer.module.test.ts
  tsconfig.json
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:sparkles: Add Nuxt for SSR
  .gitignore
  nuxt.config.ts
  package.json
  src/assets/css/global.css
  src/components/Card.vue
  src/components/Detail.vue
  src/components/List.vue
  src/layouts/default.vue
  src/pages/_slug.vue
  src/pages/index.vue
  src/static/favicon.ico
  tsconfig.json
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:bug: Fix part of the issues between Nuxt and Storybook
  .storybook/.babelrc
  src/assets/css/global.css
  src/components/List.vue
Due: none

:bug: Improve fix for @font-face
  package.json
  src/assets/css/global.css
  src/static/fonts/sector_017.ttf
  src/static/fonts/sector_034.ttf
  src/static/fonts/weapons.ttf
Due: none

:bug: Fix nuxt-link issue and unnecessary render
  .storybook/config.js
  .storybook/main.js
  package.json
  src/components/List.vue
  yarn.lock
Due: none

:fire: Remove unused intermediary component
  src/components/Card.stories.js
  src/components/Detail.vue
  src/components/Details.stories.js
  src/components/Details.vue
Due: none

:bug: Fix typo on tag
  package.json
  src/pages/_slug.vue
Due: none

:bug: Fix build configurations and others
  .gitignore
  .lintstagedrc
  nuxt.config.ts
  package.json
  serverless.yml
  src/generate/enum-activity.ts
  src/generate/fetch.ts
  src/generate/seed-manufacturers.ts
  src/pages/index.vue
  src/static/manufacturers.json
  tsconfig.json
  yarn.lock
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:construction: Require fix for @nuxt/typescript-build
  nuxt.config.ts
  package.json
  src/app/components/List.vue
  src/app/index.ts
  src/app/pages/_slug.stories.js
  src/app/pages/_slug.vue
  src/app/pages/index.stories.js
  src/app/pages/index.vue
  tsconfig.app.json
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:wrench: Fix build
  nuxt.config.ts
  package.json
  src/app/pages/_slug.vue
  tsconfig.json
  tsconfig.server.json
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:construction_worker: Add basic CI
  .github/workflows/main.yml
Due: none

:green_heart: Add missing action for MongoDB
  .github/workflows/main.yml
Due: none

:green_heart: Await inside tests
  src/server/aws.test.ts
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

:bug: Fix connection options
  serverless.yml
  src/server/aws.test.ts
  src/server/aws.ts
  src/server/connect.ts
Due: yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json

Path conditions:
  yarn tslint -e 'node_modules/**' -e 'dist/**' -c tslint.json: any of: **/*.ts
  yarn remark .: any of: **/*.md
